body{
    background-color: gray;
}

#border{
    border-color: black;
    border-width: 10px;
    margin: 10px;
    background-color: rgb(32, 32, 32);
    color: white;
    
}

.bubble{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 200px;
    color: white;
    padding: 15px;
}

.bg-secondary{
    background-color: rgb(32, 32, 32) !important;
}
.fixed{
    position: fixed;
}

.formbubble{
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 30px 40px;
    border-radius: 20%;
}

.portfolio{
    background-color: rgb(32, 32, 32);
    width: 100%;
    padding: 5% 5%;
    color: white;
    margin-top: 2%;
}
.content{
    color: black;
}